<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title id="pageTitle">Tagesordnungspunkt</title>
    <div th:replace="fragments/header :: header">&nbsp;</div>
</head>

<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!--/*@thymesVar id="session" type="de.stephannaegele.ponyvote.views.ItemView"*/-->
            <form th:object="${item}" th:action="@{/item/}">
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Tagesordnungspunkt -
                                <!--<span th:if="${item.isNew}">Erfassen</span>-->
                                <!--<span th:unless="${item.isNew}">Bearbeiten</span>-->
                            </h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Überschrift</label>
                                    <input type="text" class="form-control" th:field="*{headline}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Zusammenfassung:</label>
                                    <textarea class="form-control" rows="5" th:name="*{summary}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>