<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome.min.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-titel"> Liste aller Tagesordnungspunkte</h1>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(items)}">
                        <table class="table table-responsive table-bordered table-hover ">
                            <thead>
                            <tr class="thread-inverse">
                                <td>ID</td>
                                <td>Titel</td>
                                <td>Datum</td>
                                <td>Aktionen</td>
                            </tr>
                            </thead>
                            <tbody>
                                <!--/*@thymesVar id="item" type="de.stephannaegele.ponyVote.domain.Item"*/-->
                                <tr th:each="item : ${items}">
                                    <td th:text="${item.id}">id</td>
                                    <td th:text="${item.headline}">headline</td>
                                    <td th:text="${item.date}">date</td>
                                    <td>
                                        <a th:href="@{'/item/' +${item.id}}"><input type="button" class="btn btn-success btn-sm" value="Ansicht"></a>
                                        <a th:href="@{'/item/' +${item.id} + '/edit'}"><input type="button" class="btn btn-primary btn-sm" value="Bearbeiten"></a>
                                        <a th:href="@{'/item/' +${item.id} + '/delete'}"><input type="button" class="btn btn-danger btn-sm" value="Löschen"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </div>
</body>
</html>