<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
    <h1>Item</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Headline</td>
            <td>Summary</td>
        </tr>
        <tr>
            <!--/*@thymesVar id="item" type="de.stephannaegele.ponyVote.views.ItemView"*/-->
            <td th:value="${item.id}">Id</td>
            <td>Headline</td>
            <td>Summary</td>
        </tr>
    </table>


</body>
</html>